.text-center {
    font-size: 20px;

    &__link {
        color: #2f2b2b;
        font-weight: bold;
    }

    &:hover &__link{
        text-decoration: none;
        color: rgb(100, 100, 194);
    }
}